:root {
   --command-scale: 0.8
}

/* Specificity wars are a pain but this trick helps. (Repeating the class name) */
.SC-small.SC-small {
   font-size: calc(var(--command-scale) * 100%);
   color: var(--color-text-alt-2);
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
}

.SC-small .chat-line__message--badges > *, .SC-small .chat-badge {
   transform: scale(var(--command-scale));
   transform-origin: left;
}