:root {
   --command-scale: 0.8;
}

/* Specificity wars are a pain but this trick helps. (Repeating the class name) */
.SC-small.SC-small {
   font-size: calc(var(--command-scale) * 100%);
   color: var(--color-text-alt-2);
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
}

/* Smallify Emotes */
/* The positioning isn't quite right when used with FFZ's implementation
   of zero-width emotes, but it's passable at non-extreme sizes
*/
.SC-small img {
   scale: min(var(--command-scale), 1);
}

/* Smallify Badges */
.SC-small .chat-line__message--badges > *,
.SC-small .chat-badge {
   transform: scale(min(var(--command-scale), 1.1)); 
   transform-origin: left;
}
