body {
   background-color: rgb(55, 55, 55);
   color: white;
   display: flex;
   justify-content: center;  
   font-family: Arial, Helvetica, sans-serif;
}

button {
   font-size: 1.2rem;
   background: none;
   cursor: pointer;
   color: white;
   border: 0.12em solid rgba(255, 255, 255, 0.4) ;
   border-radius: 0.3em;
   outline: none;
   transition: color 0.1s, border-color 0.1s;
}

button:active {
   /* outline: none; */ 
   color: rgb(136, 164, 94);  
   border-color: rgb(213, 255, 150);
}

button:focus-visible {
   outline: white solid 0.1rem;
}

.main-options {
   width: max(60vw, 33rem);
}

.title {
   text-align: center;
}

.lists {
   display: flex;
   flex-direction: row;
}

.list-container {
   flex: 1;
   padding: 0.4rem;
   display: flex;
   flex-flow: column;
   height: fit-content;
   min-height: 25rem;
}

.list-controls {
   margin: 0.5rem 0;
   display: flex;
   gap: 0.5em;
}

.list-controls input {
   background-color: rgb(22, 22, 22);
   color: white
}

.list {
   flex: 1;
   flex-basis: 10rem;
   list-style: none;
   padding: 1em;
   margin: 0;
   border: rgba(255, 255, 255, 0.4) solid 0.1em;
}

.list-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: rgba(255, 255, 255, 0.4) solid 0.1em;
   padding-inline-start: 0.4em;
   height: 3em;
}

.list-item-content {
   font-size: 0.9rem;
}

.list-item-remove {
   border-radius: 0;
   aspect-ratio: 1;
   height: 100%;
   color: rgb(212, 74, 74);
}

.list-item-remove:active {
   color: rgb(255, 161, 161);
   border-color: rgb(255, 161, 161);
}

@media (max-width: 37rem) {
   .lists {
      flex-direction: column;
   }

   .list-container {
      min-height: 15rem;
   }
}